[package]
name = "tkdb"
description = "DBMS inspired by CMU 15-415/445 - Introduction to DBMS Course"
version = "0.1.0"
authors = ["Thomas Korrison <ferrite.db@gmail.com>"]
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive", "rc"] }
bincode = "1.3"
rand = "0.9.0-alpha.2"
futures = { version = "0.3", features = ["thread-pool"] }
xxhash-rust = { version = "0.8", features = ["xxh3"] }
spin = "0.9"
crossbeam = "0.8"
log = "0.4"
env_logger = "0.11"
ctor = "0.2"
chrono = "0.4"
thiserror = "1.0"
parking_lot = "0.12"
sqlparser = "0.52"
mockall = "0.13"
bitflags = "2.6"
clap = { version = "4.5.23", features = ["derive"] }
rustyline = "15.0.0"
colored = "2.1.0"
